/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --green-yellow: #ADFF2F;
    --silver: #C1C1C1;
    --grey: #808080;
    --transpar-black: #000000a9;
    --brain-grey: #141922;
    --charcoal : #282828;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

/* UTILITIES */
.debug {
    width: 100%;
    border: 1px dashed red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-none-mobile {
    display: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.bg-black {
    background-color: var(--black);
}

.bg-braingrey {
    background-color: var(--brain-grey);
}

.bg-transparblack {
    background-color: var(--transpar-black);
}

.bg-charcoal {
    background-color: var(--charcoal);
}

button {
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 20px;
    font-weight: 600;
}

.content {
    margin: 5px;
}

.py-10 {
    padding: 10px 0;
}

/* BODY SECTIONS */
.top-section {
    height: calc(100vh - 100px);
}

.sidebar {
    width: 50px;
}

.main-box {
    width: calc(100vw - 50px);
    overflow: scroll;
}

header {
    height: 100px;
    top: 0;
    width: calc(100vw - 50px);
    z-index: 1;
    padding: 5px;
}

.main {
    padding: 100px 20px 50px 20px;
}

footer {
    height: 100px;
    width: 100%;
    z-index: 1;
    height: 100px;
}

/* LAYOUT */
.container {
    width: 100%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

/* Other classes */
.btn-primary {
    padding: 13px 35px;
    font-size: 12px;
}

.menu-icons img {
    width: 25px;
    padding: 3px 0;
}

.green-border-left {
    border-left: 3px solid var(--green-yellow);
    height: 30px;
    left: -20px;
}

.user-sidebar .install-icon {
    width: 15px;    
}

.user-sidebar>div {
    margin-top: 10px;
}

.user-sidebar .avatar {
    background-color: var(--grey);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user-sidebar .avatar img {
    width: 100%;
    height: 100%;    
    border-radius: 50%;
}

.main-index {
    color: var(--grey);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.main-index li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
}

.green-border-bottom {
    border-top: 2px solid var(--green-yellow);
    width: 50%;
    margin-top: 4px;
}

.main-titles {
    padding: 20px 0;
}

.main-titles h2 {
    padding: 10px 0;
}

.album-img {
    max-width: 100%;
}

.album-title {
    font-size: 15px;
    padding: 10px 0;
}

.album-caption {
    color: var(--grey);
    font-size: 12px;
    font-weight: 600;
}

.main-titles p, .album-caption {
    color: var(--grey);
    font-size: 12px;
    font-weight: 600;
}

.rounded img {
    border-radius: 50%;
}

footer .album-img {
    max-width: 30px;
    max-height: 30px;
}

.footer-left, .footer-center, .footer-right {
    padding: 10px;
}

.footer-left h4 {
    font-size: 11px;
}

.footer-left p {
    color: var(--grey);
    font-size: 10px;
    font-weight: 700;
}

.footer-left i {
    color: var(--grey);
    margin-left: 15px;
    margin-bottom: 3px;
}

.footer-center i {
    font-size: 15px;
}

.footer-center .fa-circle-play {
    font-size: 25px;
}

.footer-center p {
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
}

.footer-right {
    font-size: 12px;
}

span {
    display: inline-block;
}

.grey-line, .grey-line-smaller {
    background-color: var(--grey);
    border-radius: 10px;
    height: 5px;
}

.grey-line {
    max-width: 120px;
    width: 400px;
}

.grey-line-smaller {    
    max-width: 80px;    
    width: 130px;
}

.silver-line, .silver-line-smaller {
    background-color: var(--silver);
    border-radius: 10px;
    height: 5px;
}

.silver-line {    
    max-width: 40px;
    width: 100px;
}

.silver-line-smaller {
    max-width: 20px;
    width: 30px;
}
/* DA VEDERE SU */


/* RESPONSIVENESS */
@media screen and (min-width: 576px){
    .sidebar {
        width: 200px;
        padding: 20px;
        align-items: flex-start;
    }
    
    .main-box {
        width: calc(100vw - 200px);
    }
    
    header {
        width: calc(100vw - 200px);
    }

    .d-none-s {
        display: none;
    }

    .d-none-mobile {
        display: block;
    }

    .menu-icons>img {
        width: 70%;
        padding-bottom: 20px;
    }

    .text-start {
        text-align: start;
    }

    .menu-icons p {
        color: var(--grey);
        font-size: 12px;
        font-weight: 600;
        padding-left: 5px;
    }

    .menu-icons h3 {
        font-size: 12px;
        padding: 15px 0;
        text-transform: uppercase;
    }

    .menu-icons i {
        color: var(--grey);
        font-size: 40px;
        padding-right: 5px;
    }

    .menu-icons ul li {
        list-style-type: none;
        color: var(--grey);
        font-size: 12px;
        font-weight: 600;
        padding: 10px 0;
    }

    .user-sidebar {
        align-items: flex-start;
    }

    .user-sidebar h3 {
        font-size: 12px;
        padding-left: 10px;
    }
    
    .user-sidebar p {
        color: var(--grey);
        font-size: 12px;
        font-weight: 600;
        padding-left: 10px;
    }

    .divider-sidebar {
        border-top: 1px solid var(--grey);
        width: 160px;
    }

    .footer-left p {
        display: inline-block;
    }
}





@media screen and (min-width: 768px){
    .col-md-25 {
        width: 25%;
    }

    .grey-line {
        max-width: 200px;
    }

    .silver-line-smaller {
        max-width: 30px;
    }

    .footer-left div.flex {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .sidebar {
        width: 300px;
    }
    
    .main-box {
        width: calc(100vw - 300px);
    }
    
    header {
        width: calc(100vw - 300px);
    }
    
    .col-lg-16 {
        width: calc(100% / 6);
    }

    .grey-line {
        max-width: 400px;
    }

    .silver-line {        
        max-width: 100px;
    }
}